<section class="contact reveal" id="contact">

    <div class="container">

        <div class="contact-box">

            <div class="contact-left">

                <span>LET'S TALK</span>

                <h2>
                    Ready To Build Your
                    Next Website?
                </h2>

                <p>
                    Whether you need a business website,
                    school portal or custom web application,
                    we're ready to bring your ideas to life.
                </p>

            </div>

            <div class="contact-right">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="success-message">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}

                <form action="/contact" method="POST">

                    <input type="text" name="name" placeholder="Your Name" required>

                    <input
                    type="email"
                    name="email"
                    placeholder="Email Address"
                    required
                    autocomplete="email">

                    <input type="text" name="project" placeholder="Project Type" required>

                    <textarea name="message" placeholder="Tell us about your project" required></textarea>

                    <button type="submit">
                    🚀 Send Project Request
                    </button>

                </form>

            </div>

        </div>

    </div>

</section>