<section class="contact reveal" id="contact">

    <div class="container">

        <div class="contact-box">

            <div class="contact-left">

                <span>LET'S TALK</span>

                <h2>
                    Ready To Build Your
                    Next Website?
                </h2>

                <p>
                    Whether you need a business website,
                    school portal or custom web application,
                    we're ready to bring your ideas to life.
                </p>

            </div>

            <div class="contact-right">

                <form>

                    <input type="text"
                    placeholder="Your Name">

                    <input type="email"
                    placeholder="Email Address">

                    <input type="text"
                    placeholder="Project Type">

                    <textarea
                    placeholder="Tell us about your project"></textarea>

                    <button>

                        Send Message

                    </button>

                </form>

            </div>

        </div>

    </div>

</section>