<section class="hero reveal" id="hero">

    <div class="container hero-grid">

        <div class="hero-left">

            <span class="hero-badge">

                ✨ Trusted by Businesses Across Nigeria

            </span>

            <h1>
                Modern Websites That Grow
                Your business.
            </h1>

            <p>

                OKWebStudio is a Nigerian web 
                development studio creating modern 
                websites and web applications for
                businesses, schools, and brands.

            </p>

            <div class="hero-buttons">

                <a href="#contact" class="btn-primary">
                    Get a Free Quote
                </a>

                <a href="#projects" class="btn-secondary">
                    Our Work
                </a>

            </div>

        </div>

        <div class="hero-right">

            <div class="laptop-card">

                <img src="{{ url_for('static', filename='images/hero/laptop.png') }}" alt="Laptop">

            </div>

            <div class="floating-card top">

                ⭐⭐⭐⭐⭐

                <small>Trusted by Clients</small>

            </div>

            <div class="floating-card bottom">

                <h3 class="counter" data-target="30">0</h3>

                <small>Projects Completed</small>

            </div>

        </div>

    </div>

</section>